<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>Sign Up</title>
</head>
<body>
<form method = 'post' th:action="@{/user}">
  <label>
    Username:
    <input type = 'text' name = 'username' th:field="${user.username}">
  </label>
  <p th:error="${user.username}" style="color:red;"></p>

  <label>
    Email:
    <input name = 'email' th:field="${user.email}">
  </label>
  <p th:error="${user.email}" style="color:red;"></p>

  <label>
    Password:
    <input type = 'password' name = 'password' th:field="${user.password}">
  </label>
  <p th:error="${user.password}" style="color:red;"></p>

  <label>
    Verify Password:
    <input type = 'password' name = 'verify' th:field="${user.verify}">
  </label>

  <p th:error="${user.verify}"></p>

  <input type = 'submit' value = 'Sign Up'>
</form>

</body>
</html>